<html>

<head>
    <title>一百天纪念日</title>
    <script src="./js/rough.min.js"></script>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        h1 {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        }

        .swiper-container {

            width: 50%;
            height: 100px;
            position: fixed;
            z-index: 0;
            bottom: 0;
            left: 25%;

        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .word {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
</head>

<body>


    <audio id="audio" src="./gbqq.mp3"></audio>


    <div id="app">

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="(word,index) in words" class="swiper-slide word">{{getHeart(index)+word+getHeart(index)}}</div>

            </div>
            <div class="swiper-pagination"></div>
        </div>


        <div :class="'envelope animated '+state.Class">
            <img @click="setState" class="heart" :src="iconUrl">
            <div class="triangle-up"></div>
            <div class="text">你收到一封信，点击查收！</div>
        </div>

        <my-main :show="state.show"></my-main>

    </div>

    <template id="myMain">
        <div class="App animated bounceInLeft" v-if="show">
            <div class="date">
                <p>我们已经一起走过了: <span class="date-text">{{date.day}}</span> 天
                </p>
            </div>
            <div id="autotype">
                <h1 style="font-weight: 900">哈喽！哈麻批</h1>
                <br>
                <p>终于到了100天啊，我还是没有达成我的小目标啊。</p>
                <p>不过，不急不急，后面还有那么多的岁月。</p>
                <p>来来回回修改了，好多遍，最后还是不知道该写点什么。</p>
                <h2>孙菱志是超级超级超级爱汤瀚文的。</h2>
                <p>我的心里啊，容不下别人了啊，汤瀚文啊。</p>
                <p>马勒戈壁，好难受啊，被你羁绊住一生的苦果需要承受。</p>
                <p>今天是第100天，今天很爱你，明天是第101天，明天我还是会很爱你，比今天多一点，比后天少一点。</p>
                <p>往后的日子啊，路虽然远，但是不会觉得漫长，因为有你，一起走下去。</p>
              
                <p>我这辈子都不要你，哭。知道吗？笨比老婆</p>
                <h3>但是，我想把你艹哭</h3>
                <h3>但是，我想把你疼哭</h3>

                <div style="text-align: right">
                    <p>爱你的♥孙菱志</p>
                    <p>2018年12月10日</p>
                </div>


                <p></p>
            </div>

        </div>

    </template>


    <script src="js/swiper.min.js"></script>
    <script>

    </script>
    <script src="js/vue.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script>
        const extend = (base, ...extensions) => Object.assign({}, base, ...extensions)
        const parseColor = ({
            h,
            s,
            l,
            a
        }) => `hsla(${h},${s}%,${l}%,${a})`
        const Color = extend.bind(null, {
            h: 0,
            s: 100,
            l: 100,
            a: 1
        })
        const Vector = extend.bind(null, {
            x: 0,
            y: 0
        })
        const Particle = extend.bind(null, {
            pos: Vector(),
            vel: Vector(),
            angle: 0,
            speed: 0,
            radius: 0,
            rotation: 0,
            color: Color()
        })
        const colors = [
            Color({
                h: 20,
                s: 100,
                l: 50
            }),
            Color({
                h: 200,
                l: 50
            }),
            Color({
                h: 300,
                l: 50
            }),
            Color({
                h: 100,
                l: 40
            }),
        ]
        const animationLoop = scope => {
            if (scope.animation) {
                scope.animation(animationLoop.bind(null, scope))
            }
            const {
                ctx
            } = scope
            const {
                canvas
            } = ctx
            const rc = rough.canvas(canvas)
            ctx.clearRect(0, 0, canvas.width, canvas.height)
            scope.particles.map((p, i) => {
                p.pos.y -= p.speed
                if (i % 2) {
                    p.pos.x = p.pos.x + Math.sin(p.angle) * .2
                } else {
                    p.pos.x = p.pos.x - Math.cos(p.angle) * .2
                }
                p.angle += .01
                rc.circle(p.pos.x, p.pos.y, p.radius, {
                    fill: parseColor(p.color),
                    roughness: Math.random() * 1.5,
                    hachureGap: p.hachureGap,
                    hachureAngle: p.hachureAngle
                })
                rc.line(p.pos.x, p.pos.y + p.radius * 1.2, p.pos.x, p.pos.y + p.radius / 2, {
                    bowing: Math.random() * 3
                })
                if (p.pos.y + p.radius * 3 < 0) {
                    p.pos.y = canvas.height + p.radius * 3
                    p.pos.x = Math.random() * (canvas.width - p.radius)
                }
            })
        }
        const scope = {
            animation: requestAnimationFrame.bind(null),
            ctx: document.createElement('canvas').getContext('2d'),
            rotation: 0,
            particles: []
        };
        ~(scope => {
            const {
                ctx: {
                    canvas
                }
            } = scope
            canvas.width = window.innerWidth
            canvas.height = window.innerHeight
            document.body.appendChild(canvas)
            let particleCount = 60
            while (particleCount--) {
                scope.particles.push(Particle({
                    pos: {
                        x: Math.random() * canvas.width,
                        y: Math.random() * canvas.height
                    },
                    speed: Math.random() + .2,
                    radius: Math.random() * 60 + 20,
                    color: colors[Math.floor(Math.random() * colors.length)],
                    hachureAngle: Math.random() * 90,
                    hachureGap: Math.random() * 8
                }))
            }
            animationLoop(scope)
        })(scope)
    </script>

    <script>
        var myMain = Vue.extend({
            template: '#myMain',
            props: ["show"],
            data() {
                return {
                    date: {},

                    display: false,
                }
            },
            watch: {
                show: {
                    handler: function (val, oldval) {
                        if (val != oldval) {
                            this.$nextTick(() => {
                                this.print();
                            })
                        }
                    }
                }
            },
            methods: {
                setTime(year, month, day) {
                    var dateNow = new Date();
                    var dateJNR = new Date(year, month - 1, day);
                    // var anniversary = parseInt((dateNow - dateJNR) / (365*24*3600*1000))
                    var d = parseInt((dateNow - dateJNR) / (24 * 3600 * 1000));
                    this.date = {
                        day: d
                    }
                },
                print() {
                    $.fn.autotype = () => {
                        this.display = true;
                        var _this = $(this.$el.children[1]);
                        var str = _this.html();
                        // 正则替换代码行之间添加的多个空格，不去除换行输出会有明显的停顿：实际是在输出多个空格
                        str = str.replace(/(\s){2,}/g, "$1");
                        var index = 0;
                        $(this).html('');
                        var timer = function fn() {
                            var args = arguments;
                            var current = str.slice(index, index + 1);
                            // html标签完整输出,如：<p>
                            if (current == '<') {
                                index = str.indexOf('>', index) + 1;
                            } else {
                                index++;
                            }
                            //位运算符: 根据setInterval运行奇偶次来判断是否加入下划线字符“_”，使输入效果更逼真
                            if (index < str.length - 1) { //打印字符倒数第2个字符开始，不加下划线字符，以防止结束符可能会多输出一下划线字符
                                _this.html(str.substring(0, index) + (index & 1 ? '_' : ''));
                            } else {
                                _this.html(str.substring(0, index));
                                clearTimeout(timer);
                            };
                            setTimeout(fn, 250)
                        };
                        timer()
                        // 延迟1s开始

                    };
                    $("#autotype").autotype();
                }
            },
            created() {
                this.setTime(2018, 9, 1)

            },

        });



        var vue = new Vue({
            el: "#app",
            components: {
                'my-main': myMain
            },
            data() {
                return {
                    state: {
                        show: false,
                        Class: 'bounceInLeft',
                    },
                    iconUrl: "./爱心.png",
                    words: [
                        "好。孙菱志走的第一天，想他想他。",
                        "嗨～现在超级大的雨。你走的第二天，想你……",
                        "你走的第三天，不太想你啦,哈哈～",
                        "你走的第四天，吼吼～还是有点想你",
                        "今天第五天，闹钟没有响，自然醒地晚了些，一点点想你",
                        "你走的第6天，老子想打你",
                        "你走的第七天，还是很想你",
                        "你走的第八天，不想你",
                        "你走的第九天，想把你抱在怀里，吻醒你",
                        "你走的第十天，想着你，便再也睡不着",
                        "你走的11天，醒来像你从背后抱着我",
                        "你走的第12天，做梦梦到你拉",
                        "你走的第13天，想你，别感冒了",
                        "你走的第14天，想你，两周不快也不慢",
                        "你走的第15天，想你，不用说服自己",
                        "你走的第16天，想你，昨晚没有视频。",
                        "你走的第17天，想你，平淡的生活还是需要惊喜。",
                        "你走的第18天，想你，你是独一无二",
                        "你走的第19天，昨晚没有视频语音，想你，爱你",
                        "你走的第20天，想你，我们都要一起努力",
                        "你走的第21天，想你，嗯想你。",
                        "你走的第22天，想你，昨晚是否梦中相遇",
                        "你走的第23天，想你，不管相隔的距离是长是短",
                        "你走的第24天，嗯，一点点，想你",
                        "你走的第25天，想你，学霸加油哦",
                        "你走的第26天，想你，嘿，好久不见",
                        "你走的第27天，想你，汤瀚文男朋友",
                        "你走的第28天，想你，想和你一起做爱做的事",
                        "你走的第29天，想你，我的小钢炮",
                        "你走的第30天，想你，一个月快乐",
                        "你走的第31，你起的床比我早，想我吗?",
                        "你走的第32天，今天你叫猪头起床了",
                        "你走的第33天，想你，我唯一的宝贝",
                        "你走的第34天，哼，天天套路我。",
                        "你走的第35天，愿醒来是你，余生也是你",
                        "你走的第36天，明天就要上班了，嘤嘤嘤！",
                        "你走的第37天，学霸你好，我不想起床，啊啊啊",
                        "你走的第38天，傻大炮，想你每天笑的像傻子一样",
                        "你走的第39天，今天据说蓝色是你的幸运色",
                        "你走的第40天，天气变化大，要照顾好自己",
                        "你走的第41天，我爱你我爱你我爱你我爱你我爱你我爱你我爱你我爱你我爱你我爱你双击查看原图",
                        "你走的第42天，啦啦啦啦啦，很忙很想你",
                        "你走的第43天，刚才梦到羞羞羞，和你，嘿嘿",
                        "你走的第44天，昨天我乖乖早睡，现在早醒了，吼吼",
                        "你走的第45天，咕咕，哈哈哈，不可描述",
                        "你走的第46天，要99哦，大炮宝贝",
                        "你走的第47天，果然早睡早起，又下雨了，嘤嘤嘤",
                        "你走的第48天，醒来睡衣一大半被脱了，嘿嘿嘿",
                        "49天没有，发生了3P事件-----------------------------------",
                        "你走的第50天，大炮我爱你",
                        "你走的第51天，昨晚梦到冠希老师到我高中教室，唱战争，还反串，最后还唱母老虎。",
                        "你走的第52天，被窝好温暖，有你更温暖",
                        "你走的第53天，昨天你又忘记浇水，哼",
                        "你走的第54天，梦到咱们结婚住在一起，亲爱的",
                        "你走的第55天，想不出其他的话了，爱你呀，孙菱志",
                        "你走的第56天，相扶到老，你在就好",
                        "你走的第57天，流血说爱你，是真的真的好爱你，不是假的假的好爱你，好爱你",
                        "你走的第58天，想和你连麦睡，想和你做一切美好的事",
                        "你走的第59天，梦到和易洋千玺恋爱，我的少女心 我梦到我是易洋千玺地下恋人，他是公众人物，公司安排了一个和他关系较好的女明星当合约情侣。但是他父母和其他身边人不理解，不承认我，然后易洋千玺带我去爬山游湖。最后.....在很多人面前，不经意的，别人不太能发觉的，在我额头和嘴上温柔又霸道总裁地轻轻一吻，我觉得自己幸福到飞起，然后.....就醒了……呜呜呜，还没有深入下去呢",
                        "你走的第60天，大灰狼小心被饥渴的小粉帽吃掉",
                        "你走的第61天，梦到我和你在体育课后嘿嘿嘿，快起床做PPT了",
                        "你走的第62天，我又双叒叕梦到你了！！！",
                        "你走的第63天，我会给你我的温柔",
                        "你走的第64天，梦里为了你放弃了三个帅哥，爱你哈麻批孙菱志",
                        "你走的第65天，半夜梦回，想枕着你的胸膛，轻轻吻上你",
                        "你走的第66天，恭祝你66大顺，福寿双全",
                        "你走的第67天，我在地铁的早高峰上想你",
                        "你走的第68天，昨晚被冷醒缩成一团，好需要大火炉孙菱志",
                        "你走的第69天，我想你，全身上下都想你",
                        "你走的第70天，傻狗来报到了，汪汪汪，快摸摸我狗头",
                        "你走的第71天，谢谢你的双十一礼物，棒棒节快乐，i love you",
                        "你走的第72天，老公～我好想你啊～",
                        "你走的第73天，要好好一起运动啊哈哈",
                        "你走的第74天，想醒来被你紧紧抱着，翻身压着，狠狠吻下来",
                        "你走的第75天，如果这辈子注定会在一起，晚一点有什么关系",
                        "你走的第76天，天黑黑，欲下雨，跟你回家好不好",
                        "你走的第77天，雨下了一夜，我就想把你抱着，在你怀里躺着，全世界都知道",
                        "你走的第78天，是不是我不发每日一句你就不主动，嘤嘤嘤",
                        "你走的第79天，跟我一起（有感情）地唱：好想你好想你，真的真的好想你，不是假的假的好想你，好想你",
                        "你走的第80天，只许州官放火不许你离开我",
                        "你走的第81天，九九归一，每日一语被大灰狼吃掉了",
                        "你走的第82天，6点半又自然醒，实名制羡慕你每天10点上班",
                        "你走的第83天，白雾缭绕，如在梦中，愿拨开云雾，执子之手",
                        "你走的第84天，一辈子都不能没有你",
                        "你走的第85天，昨晚第一次遇到你醉醉的样子，又下雾了，快起来了我的宝贝",
                        "你走的第86天，想和你有个孩子，围着你团团转",
                        "你走的第87天，让我们和时日一同成长",
                        "你走的第88天，恭祝您心想事成，万事如意捏，孙子哥",
                        "你走的第89天，让我们一起向阳而生！",
                        "你走的第90天，如果打了一个喷嚏，说明我在想你，90天快乐，孙舔狗小目标木有了",
                        "你走的第91天，今天来了好多见习的师弟师妹，喜欢",
                        "你走的第92天，异地恋是苦的，而你是臭的，我是甜的，哈哈哈哈",
                        "你走的第93天，总有一天会踩着七彩祥云来娶我，对我说：我想爱你到永远，和你各种姿势到天亮，我养你。",
                        "你走的第94天，我选择300亿，你的N个300亿",
                        "你走的第95天，命运总是最好的安排，把你在合适的时机送到我面前",
                        "你走的第96天，从心双击查看原图开始，用双击查看原图爱你",
                        "你走的97天，听说雪花是天堂写给人家的信，下雪天炸鸡和啤酒更配哦",
                        "你走的第98天，银杏落叶，像我的思念厚厚一叠",
                        "你走的第99天，想把你抱进身体里面，心里是满满的思念",
                        "你走的第100天，太多的感动只想对你说，可是堵在心里说不出口，想和你有第二个100天，第N个100天，我爱你孙菱志"
                    ]
                }
            },
            watch: {},
            methods: {
                setState() {
                    this.state = {
                        Class: "bounceOutRight",
                        show: true
                    }
                    var audio = document.getElementById("audio");
                    setTimeout(() => audio.play(), 1000)
                },
                getHeart(index) {
                    let a = ["🧡", "💙", "💜", "💗", "💟", "💓", "💖", "💕", "💛", "💚", "💗", "💝", "🖤", "💑",
                        "💘", "❣️"
                    ];

                    return a[this.GetRandomNum(0, a.length)];


                },
                GetRandomNum(Min, Max) {
                    var Range = Max - Min;
                    var Rand = Math.random();
                    return (Min + Math.round(Rand * Range));
                }
            },
            created() {

            },
            mounted() {
                var swiper = new Swiper('.swiper-container', {
                    autoplay: {
                        delay: 1000,
                        disableOnInteraction:false
                    },
                   
                });
            },
        })
    </script>

</body>

</html>